{% extends "app1/base.html" %}

{% load static %}

{% block title %}History{% endblock %}

{% block content %}
  <br>
  <h1>CSCI 598: Midterm Project by Akshith Macharla</h1>
  <h5>History</h5>
  <p>
    Chess is a two-player strategy board game where opponents take turns moving their pieces with the objective of checkmating the opponent’s king.
    It is an abstract game that relies entirely on skill, as there is no element of chance or hidden information.
  </p>
  <p>
    <strong>How to Play</strong><br>
    Each player starts with 16 pieces, which include a king, queen, rooks, bishops, knights, and pawns.
    The player controlling the white pieces always moves first.
    Players alternate turns, moving one piece per turn to a different square on the board.
    The ultimate goal is to checkmate the opponent's king, meaning the king is under attack and has no legal moves to escape.
    A game can also end in a draw due to various circumstances, such as mutual agreement, stalemate, repetition of moves, the fifty-move rule, or resignation.
  </p>
{% endblock %}
